body {
  font-size: 13px; }

#root {
  overflow: visible;
  overflow-x: hidden; }

.table_hai_tab thead tr th {
  font-weight: bold;
  color: #000; }

.csdl_tab li a {
  color: #000; }
  .csdl_tab li a span svg {
    width: 25px;
    height: 25px; }

.card1 {
  color: #333; }
  .card1 .uk-card-header .uk-card-title {
    font-size: 16px; }
    .card1 .uk-card-header .uk-card-title span {
      color: red;
      margin-left: 5px; }
  .card1 .uk-card-body {
    max-height: -webkit-fit-content;
    max-height: -moz-fit-content;
    max-height: fit-content;
    color: #333;
    font-size: 14px; }
    .card1 .uk-card-body > ul {
      margin-bottom: 0; }
      .card1 .uk-card-body > ul.active > div:not(i) {
        color: red; }
      .card1 .uk-card-body > ul li {
        padding: 5px 0; }
        .card1 .uk-card-body > ul li:not(:last-child) {
          border-bottom: 1px solid #ccc; }
    .card1 .uk-card-body i {
      margin-right: 5px; }
    .card1 .uk-card-body .txt {
      font-weight: bold;
      font-size: 15px;
      color: blue; }

.card2 .card-header h4 {
  color: #fff;
  font-size: 15px; }

.card2 .card-body {
  background: #fff; }

.card3 .uk-card-header {
  color: #fff; }
  .card3 .uk-card-header h4 {
    color: #fff;
    font-size: 17px; }

.card3 .uk-card-body {
  padding: 8px; }
  .card3 .uk-card-body .table thead tr th {
    font-weight: bold;
    font-size: 14px; }

/*# sourceMappingURL=hai.css.map */