.H2_Title_Intro_Minister {
    float: left;
    width: 96%;
    min-height: 10px;
    padding: 10px 2%;
    text-transform: uppercase;
    text-align: center;
    font-size: 12pt;
    background: #f8f8f8;
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 20px;
    text-shadow: 0.2em 0.2em 3px #999999;
    font-weight: bold;
    color: #1e4283;
}

.Section_Minister{
	float: left;
    width:100%;
	border-radius: 4px;margin:12px 0px;
	min-height: 200px;
}
.Home_All_Section_Minister{ margin: 0 auto;
    width: 168px;}
.Header_Section_Minister,.Header_Section_Deputy_Minister{
	float: left;width:100%;
	min-height: 30px;
}
/*.Header_Section_Minister{background:#e6f1f7; border:1px solid #e6f1f7}*/
.Header_Section_Minister p{text-align: center; margin: 10px 0px 0px 0px; font-weight: bold; color:#585858;}
.Header_Section_Deputy_Minister{
	width: 100%;
	/*background:#e6f1f7;
	border:1px solid #e6f1f7;*/
    color:#585858;
}
.Header_Section_Deputy_Minister p{
	text-align: center;
    margin: 10px 0px 0px 0px;
	font-weight:bold;
    color:#585858;
}

.Header_Section_Minister h3,.Header_Section_Deputy_Minister h3{
	float: left;
	width: 100%;
	text-align: center;
	padding: 3px 0px 7px 0px;
}

.Header_Section_Minister h3 a,.Header_Section_Deputy_Minister h3 a{
	float: left;
	width: 100%;
	color: #4792d3;
	text-align: center;
	font-size: 14px;
    font-weight:bold;
}
.Home_Section_Minister,.Home_Section_Deputy_Minister{
	float: left;
	width:100%;
	border-top: none;
	background: white;
}
.Home_Section_Deputy_Minister{
	width: 90%;
	/*border:1px solid #ccc;*/
	padding:5%;
}
.SectionAll_Deputy_Minister{width: 100%; float:left;margin:20px 0px 80px 0px;/*margin:20px 0px 80px 90px;*/}
.Center_Section_Minister {
    float: left;
    width:100%;
    /*padding: 5%;
    width: 90%;border:1px solid #ccc;*/
}
.Div_Image_Minister {
    float: left;
    width: 100%;
}
.Div_Image_Minister img{float:left; width:100%; border:none;}
.UL_Section_Ministter {
    background: #fff5cc none repeat scroll 0 0;
    float: left;
    width: 150px;
    max-height:200px;
}
.UL_Section_Ministter li {
    float: left;
    font-weight: bold;
    list-style: outside none none;
    padding:5px 9%;
    min-width:138px;
}
.UL_Section_Ministter li span{
	white-space:nowrap;
}
.Section_Deputy_Minister{
	float: left;
	width:151px;
	border-radius: 4px;
	margin-bottom: 12px;
	margin:0px 8px 10px 8px;
}
.Div_Image_Deputy_Minister{
	width: 135px;
	max-height: 170px;
    overflow:hidden;
}
.Div_Image_Deputy_Minister img{
	width: 135px;
	max-height: 190px;
}
.UL_Section_Deputy_Minister{
	margin: 10px 0px 10px 100px;
	display:none;
}
.Around_List_Minister{
	width: 252px;
	min-height: 150px;
	float: left;
	border: 1px #d1d1d1 solid;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
}
.UL_List_Minister{
	float: left;
	width: 252px;
	min-height: 100px;
}
.UL_List_Minister li{
	float: left;
	width: 252px;
	min-height: 50px;
}
.UL_List_Minister li:first-child{
	margin-top: 5px;
}
.UL_List_Minister li:last-child{
	margin-bottom: 5px;
}
.UL_List_Minister li{
	float: left;
	font-weight: bold;
	list-style: none;
}
.UL_List_Minister li a{
	float: left;
	font-weight: bold;
	list-style: none;
	padding: 14px 0px 3px 0px;
	color: #1e4283;
	width:180px;
}
.UL_List_Minister li span{
	float: left;
	font-weight: normal;
	list-style: none;
	padding: 0px 0px;
	color: #1e4283;
	white-space:nowrap;
}
.Div_Image_List_Minister{
	float: left;
	width: 50px;
	height: 50px;
	margin: 5px 5px 5px 10px;
	background: #e1e1e1;
	overflow: hidden;
	border: 1px #d1d1d1 solid;
}
.Div_Image_List_Minister img{
    float:left; 	width: 50px;
	height: 50px;}

.Border_Gradient_Right{
	border-bottom: dashed 1px #4792d3;
	float: left;
	width: 92%;
	margin: 0px 4%;
	height: 2px;
}
.Gradient_Header_Minister{
	float: left;
	width: 100%;
	min-height: 30px;
	background: pink;
	border-bottom: 1px #d1d1d1 solid;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}
.Header_Minister_Detail{
	float: left;
	width: 100%;
	min-height: 200px;
	
	border-radius: 6px;
	border: 1px #d1d1d1 solid;
}
.Image_Minister_Detail{
	float: left;
    width: 60%;
}
.Image_Minister_Detail img{
	width: 150px;
    margin: 10px 35%;
    height: 200px;
    float: left;
}
.UL_Minister_Detail{
	float: left;
	width: 100%;
	margin-top: 5px;
}
.UL_Minister_Detail li{
	list-style: none;
	margin: 6px 0px 6px 15px;
	font-size: 13pt;
    text-align:center;
}
.UL_Minister_Detail li span{
	font-size: 13pt;
}
.Name_Minister_Detail{
	font-size: 14pt;
	color: #1e4293;
    font-weight:bold;
}
.Put_Tab{
	float: left;
	width: 100%;
}
.Put_Point_Img{
	float: left;
	margin: 10px 0px 0px 12px;
}
.Word_Tab{
	float: left;
	margin: 4px 0px 0px 5px;
	font-weight: bold;
	cursor: default;
	color:black;
	width:90%
}
.Word_Tab:hover{
	text-decoration: underline;
}
.Around_Content_Detail_Ministry{
	float: left;
	width: 100%;
	background: #f1f1f1;
	min-height: 60px;
	margin: 10px 0px;
	position: relative;
	border-radius: 4px;
	border: 1px #d1d1d1 solid;
}
.Arrow_Content_Ministry{
	width: 18px;
	height: 10px;
	position: absolute;
	top: -10px;
	left: 22px;
	background: url("/_layouts/images/NCS.UI.MOT/arrowask.png") no-repeat center;
}
#Content_Minister{
	float: left;
	margin: 10px;
	line-height: 25px;
	text-align: justify;
}
#Content_Minister a span{color:blue;float:left;}
.Center_Home_Ministry_Tree{
	float: left;
   /*width:1168px;*/
	width:100%;
	min-height: 300px;
	/*border: 1px #d1d1d1 solid;
	border-radius: 4px;*/
    margin-bottom:10px;
}
.Title_Ministry_Tree{
	float: left;
	width: 450px;
	min-height: 10px;
	padding: 6px 0px;
	text-align: center;
	font-size: 13pt;
	border-radius: 4px;
	margin: 20px 0px 0px 370px;
	border: 1px #d1d1d1 solid;
	cursor: default;
	color: #1e4283;
	text-transform: uppercase;
}
.BG_Gradient_Grey{
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(237,237,237,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(47%,rgba(246,246,246,1)), color-stop(100%,rgba(237,237,237,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(246,246,246,1) 47%,rgba(237,237,237,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ededed',GradientType=0 ); /* IE6-9 */
}
.Tab_Point_Leader{
	float: left;
	width: 100%;
	min-height: 10px;
}
.Point_Leader{
	margin: 20px auto 0px auto;
	width: 150px;
	min-height: 10px;
	padding: 6px 10px;
	font-weight: bold;
	font-size: 13pt;
	text-align: center;
	border-radius: 4px;
	cursor: default;
	color: #fefefe;
	text-transform: uppercase;
	border: 1px #FF6500 solid;
	position: relative;
}
.Point_Leader a
{
	color:white;
    font-size:16px;
    font-weight:bold;
}
.Div_Line_Direction_Tree{
	float: left;
	width: 100%;
	min-height: 50px;
}
.Center_Line_Direction_Tree{
	width: 520px;
	height: 30px;
	margin: 20px auto 0px auto;
	border: 10px #FF6500 solid;
	border-bottom: none;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
.Line_Under_Center{
	position: absolute;
	top: 29px;
	left: 83px;
	margin: 0px auto;
	height: 20px;
	width: 10px;
	background: #FF6500;
}
.div_Tree_Minister{float:left; width:100%;}
.iTem_Tree_Minister{
	float: left;
	width: 450px;
	min-height: 300px;
	margin: 0px 0px 20px 12px;
	border-radius: 6px;
}
.iTem_Tree_Minister:last-child {
    float: right;
    margin-right:110px;
}
.tdCayToChuc{padding:10px}
.iTem_Tree_Minister:nth-child(1){margin-left:110px;}
.Header_iTem_Tree_Minister{
	float: left;
	width: 448px;
	min-height: 28px;
	border: 1px #FF6500 solid;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
}
.Home_iTem_Tree_Minister{
	float: left;
	width: 448px;
	min-height: 300px;
	border: 3px #FF6500 solid;
	background: white;
	border-top: none;
	border-bottom-left-radius: 6px;
	border-bottom-right-radius: 6px;
}
.BG_Gradient_Blue{
	    background: #4792d3;
    background: -moz-linear-gradient(top, rgba(56,94,175,1) 0%, rgba(32,66,140,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4792d3), color-stop(100%,#4792d3));
    background: -webkit-linear-gradient(top, #4792d3 0%,#4792d3 100%);
    background: -o-linear-gradient(top, rgba(56,94,175,1) 0%,rgba(32,66,140,1) 100%);
    background: -ms-linear-gradient(top, rgba(56,94,175,1) 0%,rgba(32,66,140,1) 100%);
    background: linear-gradient(to bottom, #4792d3 0%,#4792d3 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#385eaf', endColorstr='#20428c',GradientType=0 );
    min-height: 30px;
    line-height: 25px;
    background: #FF6500 !important;
}
.Header_iTem_Tree_Minister span{
	float: left;
	width: 430px;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	color: white;
	padding: 5px 10px 6px 10px;
}
.UL_Level_1,.UL_Level_1 ul{
	float: left;
	width: 448px;
	min-height: 0px;
	font-weight: bold;
}
.UL_Level_1 ul{
	display: none;
}
.Show_UL_Level{
	display: block !important;
}
.UL_Level_1{
	padding: 5px 0px;
}
.UL_Level_1 a{
	color: #1e4283;
}
.UL_Level_1 a:hover,.UL_Level_1 span:hover{
	text-decoration: underline;
	cursor: default;
}
.UL_Level_1 li{
	float: left;
	list-style: none;
	width: 348px;
}
.UL_Level_1 li span{
	list-style: none;
	float: left;
	padding: 4px 10px;
	color: #1e4283;
}
#Span_1{
	margin-left: 15px;	
}
#Span_2{
	margin-left: 30px;	
}
#Span_3{
	margin-left: 45px;
}
#Span_4{
	margin-left: 60px;
}
.Point{
	float: left;
	width: 11px;
	height: 11px;
	margin: 0px;
	padding: 0px;
	background: url("../img/put_plus.png") no-repeat center;
	margin: 1px 4px 0px -16px;
	border: none;
}
.Point_None{
	background: url("../img/arrow.png") no-repeat center;
}
.Home_iTem_Tree_Minister:hover{
	background: #f4f6f8;
}
.SoGiaoThongVanTai .Title_Ministry_Tree{
	width: 220px;
	position: relative;
	margin-left: 363px;
}
.SoGiaoThongVanTai .Home_iTem_Tree_Minister{
	border: 1px #d1d1d1 solid;
	border-radius: 4px;
}
#Line_Center{
	position: absolute;
	top: 28px;
	width: 1px;
	height: 53px;
	background: #1e4283;
	left: 108px;
}
.P_Footer{
	text-transform: uppercase;
}
.UL_Info_Minister_Under{
	float: left;
    width:100%;
	margin-top: 5px;
	padding: 5px 0px;
	border-bottom: 1px #d1d1d1 solid;
}
.UL_Info_Minister_Under li{
	float: left;
	list-style: none;
	padding: 3px 10px;
    width:100%;
}
.Name_Minister_Under{
	float: left;
	color:black;
	width: 100%;
	min-height: 10px;
	font-weight: bold;
	font-size: 12pt;
	text-transform: uppercase;
	padding: 6px 0px;
	border-bottom: 1px #d1d1d1 solid;
}

.Path_History{
	margin: 10px auto;
	/*width: 200px;
	border: 1px #d1d1d1 solid;*/
	min-height: 10px;
	padding: 5px 10px;
	background: grey;
	font-weight: bold;
	font-size: 12pt;
	text-transform: uppercase;
	text-align: center;
	border-radius: 4px;
	background: url("../img/bg_grey_1.png") repeat-x center;
}
.Content_Path_History{
	float: left;
	text-align: justify;
	width:100%;
}

/*---them---*/
.tdCayToChuc .list_ul {
    float: none;
    list-style-type: none;
    margin: 0 5px 0 14px;
    padding: 0;
}
.tdCayToChuc li{
    list-style:none;
    padding:5px 0px;
}
.tdCayToChuc .itemToChuc {
    white-space: normal;
}
ul li {
    list-style: none outside none;
}
.tdCayToChuc .PlusMinus {
    cursor: pointer;
    /*height: 11px;
    width: 11px;*/
	margin: 5px 5px 0 0;
}
img {
    border: medium none;
}

.tdCayToChuc a.ItemKhoi {
    color: #1e4283;
    font-weight: bold;
    text-align: justify;
    white-space: normal;
    width: 90%;
}

.tdCayToChuc a {
    color: #1e4283;
    text-decoration: none;
    white-space: normal;
    line-height:19px;
}
/**/
.Header_Right_tc {
    float: left;
    height: 56px;
    position: relative;
    width: 254px;
}
.BorderLeftBoxNews_tc {
    background: url("/_layouts/images/NCS.UI.MOT/tab_blue_left.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    float: left;
    height: 56px;
    position: absolute;
    width: 10px;
    z-index: 100;
	top: 0px;
	left: 0px;
}

.H2_Tab_Box_tc {
    background: url("/_layouts/images/NCS.UI.MOT/tab_blue.png") repeat-x scroll center center rgba(0, 0, 0, 0);
    float: left;
    height: 56px;
    margin-left: 4px;
    min-width: 10px;
    position: absolute;
    z-index: 100;
	width:240px;
	top: 0px;
	left: 0px;
}
.H2_Tab_Box_tc a
{
	color: white;
    float: left;
    font-size: 13pt;
    font-weight: bold;
    padding: 6px 10px;
    text-decoration: none;
	text-align:center;
}
.BorderRightBoxNews_tc {
    background: url("/_layouts/images/NCS.UI.MOT/tab_blue_right.png") no-repeat scroll center center rgba(0, 0, 0, 0);
    float: left;
    height: 56px;
    width: 10px;
    z-index: 100;
	top: 0px;
	right:0px;
	position: absolute;
}
/*======Hoi Dap====*/
.Point_Category_Con
{
	padding:4px 0 5px 0;
}
.Point_Category_Con a
{
	padding-left:15px;
	color: #1e4283;
    font-weight: bold;
	text-align: left;
}
.Point_Category_Con img
{
	padding-left:25px;
}

/*
    background: url("/_layouts/images/NCS.UI.MOT/arrow.png") no-repeat scroll 10px 9px rgba(0, 0, 0, 0);
    color: #1e4283;
    float: left;
    font-weight: bold;
    min-height: 10px;
    padding: 4px 0 5px 25px;
    text-align: left;
    width: 212px;
}*/
.UL_coCauToChuc{ margin-top:10px;}
.UL_ThoiKyPhatTrien{float:left;width:100%}
.UL_ThoiKyPhatTrien li{
    color: #075480;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 25px;
    text-align: left;
    width: 100%;
    margin-bottom:3px;
}
.UL_ThoiKyPhatTrien li a{ color: #1e4283;
    float: left;
    font-weight: bold;
    list-style: outside none none;
    padding-bottom:3px;
    width: 90%;
    margin-left: 15px;
}
/*---------------------------------------------*/
.UL_LanhDao{float:left;width:100%}
.UL_LanhDao li{
    color: #075480;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 3px;
    margin: 0 10px;
    text-align: left;
    width: 250px;
   border-bottom: 1px dashed #4792d3;
}
.UL_LanhDao li:last-child{border-bottom:none;}
/*.lanhdaocu_item_img{float: left;
	width: 50px;
	height: 60px;
	margin: 5px 5px 5px 10px;
	background: #e1e1e1;
	overflow: hidden;
	border: 1px #d1d1d1 solid;}
.UL_LanhDao li img{
    float: left;
	width: 50px;
	}*/
.lanhdaocu_item_img { 
    float: left;
}

.UL_LanhDao li img {
    float: left;
    width: 50px;
 height: 60px; margin: 5px 5px 5px 0px;
   background: #e1e1e1 none repeat scroll 0 0;
    border: 1px solid #d1d1d1;
}
.UL_LanhDao li .Border_Gradient_Right {
    border-bottom: none;float:left;
}
.UL_LanhDao li a{ color: #1e4283;
    float: left;
    font-weight: bold;
    list-style: outside none none;
    width: 190px;}
	
	.UL_LanhDao li span{ float: left;
    width: 190px;}

/*------------Vụ trưởng--------------*/
.H2_DV_Title_Intro_Minister {
    float: left;
    width: 96%;
    min-height: 10px;
    padding: 10px 2%;
    text-transform: uppercase;
    text-align: center;
    font-size: 12pt;
    background: #f8f8f8;
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 20px;
    text-shadow: 0.2em 0.2em 3px #999999;
    font-weight: bold;
    color: #1e4283;
}
.Section_DV_Minister{
	float: left;
	width:100%;
	border-radius: 4px;
	margin:10px 0px;
	/* min-height: 200px; */
}
.Home_DV_All_Section_Minister{
 margin: 0 auto;
 width:95%;float:left;
 /*width: 420px;*/
 }
.Header_DV_Section_Minister,.Header_DV_Section_Deputy_Minister{
	float: left;
	width: 65%;
	min-height: 30px;
}
.Header_DV_Section_Minister{}
.Header_DV_Section_Minister p{text-align: center; margin: 10px 0px 0px 0px; font-weight: bold; color:#585858;}
.Header_DV_Section_Deputy_Minister{
    color:#585858;
}
.Header_DV_Section_Deputy_Minister p{
	text-align: center;
    margin: 10px 0px 0px 0px;
	font-weight:bold;
    color:#585858;
}

.Header_DV_Section_Minister h3,.Header_DV_Section_Deputy_Minister h3{
	float: left;
	width: 100%;  cursor:default;
}

.Header_DV_Section_Minister h3 a,.Header_DV_Section_Deputy_Minister h3 a{
	float: left;
	width: 100%;
	margin-left:10px;
	font-size: 13px;
    font-weight:bold;
    color:#4792d3;
    cursor:default;
    /*white-space:nowrap;*/
}
.Home_DV_Section_Minister,.Home_DV_Section_Deputy_Minister{
	float: left;
	width:100%;
	border-top: none;
	background: white;
}
.Home_DV_Section_Deputy_Minister{
	/*width: 100px;
	padding: 8px;
	border: 1px solid #ccc;*/
    width: 116px;
	float: left;
}
.SectionAll_DV_Deputy_Minister{width: 100%; float:left;margin:20px 0px 80px 0px;}
.Center_DV_Section_Minister {
    float: left;
   
    width: 116px;
    /*border:1px solid #ccc; padding: 8px;*/
}
.Div_DV_Image_Minister {
    float: left;
    width: 100px;
}
.Div_DV_Image_Minister img{float:left;width: 100px;border:none;}
.UL_DV_Section_Ministter {
    float: left;
    width: 63%;
    max-height:200px;
}
.UL_DV_Section_Ministter li {
    float: left;
    font-weight: bold;
    list-style: outside none none;
    padding:0px 0px 0px 10px;
   width:100%;
    /* min-width:138px;white-space:nowrap;*/
}
.UL_DV_Section_Ministter li span{
}
.Section_DV_Deputy_Minister{
	float: left; 
     width:95%;
	/*width:48%;*/
	border-radius: 4px;
	margin-bottom: 10px;
	/*height:160px;*/
}
/*.Section_DV_Deputy_Minister:nth-child(2),.Section_DV_Deputy_Minister:nth-child(4),.Section_DV_Deputy_Minister:nth-child(6),.Section_DV_Deputy_Minister:nth-child(8)
{float:right;}*/
.Div_DV_Image_Deputy_Minister{
	width: 100px;
	overflow:hidden;
}
.Div_DV_Image_Deputy_Minister img{
    float: left;
    width: 100px;
    border: none;
}
.UL_DV_Section_Deputy_Minister{
}
.Section_DV_Minister_ALL{ float:left; width:100%;}
.ALL_DV_Deputy_Minister{width: 100%;float: left;}
/*------------End---------------*/
.Section_DV_Deputy_Minister_center {
    border-radius: 4px;
    margin: 0 auto;
    min-height: 160px;
    width: 100%;
}

/*------------------------------------------------------*/
@media screen and (max-width: 1080px) {
    /*.Header_DV_Section_Minister, .Header_DV_Section_Deputy_Minister{
        width:63%;
    }*/
	.SectionAll_Deputy_Minister{margin-left:0px;float:left;}
}
@media only screen and (max-width : 1024px) {
    .Around_Category_Legal{width:100%;}
    .menuphai_LD{width:35%;}
     .iTem_Tree_Minister{width:45%; font-size:13px;}  
    .iTem_Tree_Minister:nth-child(1) {
        margin-left: 2%;
        float:left;
    }
    .iTem_Tree_Minister:nth-child(2){float:right;margin-right:2%;margin-left:0px;}
     .Header_iTem_Tree_Minister span{ font-size:13px;width:100%; padding:5px 0px;}
     .Header_iTem_Tree_Minister{width:100%;}
     .Home_iTem_Tree_Minister{width:100%;}
.SectionAll_Deputy_Minister{margin-left:0px;float:left;}
     /*.Section_DV_Deputy_Minister{width:45%;}
     .Home_DV_Section_Deputy_Minister{width:30%;padding:2%;}
     .Div_DV_Image_Deputy_Minister{width:100%;}
     .Div_DV_Image_Deputy_Minister img{width:100%;}
     .Header_DV_Section_Minister h3 a, .Header_DV_Section_Deputy_Minister h3 a{font-size:12px;}*/

     .Title_Ministry_Tree{margin-left:260px;}
}
@media screen and (max-width: 980px) {
    .Home_DV_All_Section_Minister{float:left;}
    .Section_DV_Deputy_Minister{width:100% !important;}
    .Section_DV_Minister{min-height:0px !important;}
    .Image_Minister_Detail{width:50%}
    .menuphai_LD{width:40%;}
	.SectionAll_Deputy_Minister{margin-left:0px;}
}
@media screen and (max-width: 768px) {
    .Home_DV_All_Section_Minister{float:left;}
    .Section_DV_Deputy_Minister{width:100% !important;}
    .Section_DV_Minister{min-height:0px !important;}
    .Title_Ministry_Tree{margin-left:5%;width:90%}
    .Div_Line_Direction_Tree{width:80%;margin:0 auto;float:none;}
    .Center_Line_Direction_Tree{width:90%;float:left;}
  
}
@media screen and (max-width: 640px) {
    .Image_Minister_Detail{width:100%;}
    .menuphai_LD{width:94%;margin:0px 3% 10px}
    .Div_Line_Direction_Tree,.Center_Line_Direction_Tree{display:none;}
}
@media only screen and (max-width : 540px) {   
    /*------------menu top-------------*/
    .Tab_Point_Leader{float:left; width:100%; margin-left:0px;}
    .Point_Leader  {margin-left:5%;  margin-bottom:10px;float:left; width:90%;padding-left:0px; padding-right:0px;position:inherit;}
    
    .iTem_Tree_Minister{ width:70%;}

    .iTem_Tree_Minister:nth-child(1), .iTem_Tree_Minister:nth-child(2){margin-left:5%; width:90%;float:left;}
   
}
@media only screen and (max-width : 480px) {
   
}
@media only screen and (max-width : 320px) {

}