@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.eot');
    src: url('../fonts/Roboto-Regular.eot') format('embedded-opentype'), url('../fonts/Roboto-Regular.woff')
    format('woff2'), url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf')
    format('truetype'), url('../fonts/Roboto-Regular.svg#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

p {
    margin: 0px;
}

a {
    text-decoration: none;
    color: #333333;
}

a:hover,
a:focus {
    color: #0d7cd6;
    text-decoration: none;
}

* {
    margin: 0px;
    padding: 0px;
}

ul, ol {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}

.fixed {
    position: fixed !important;
    top: 0px;
    z-index: 99;
    width: 100%;
}
.clearfix-130{
    clear: both;
    height: 130px;
}
.clearfix-100{
    clear: both;
    height: 100px;
}
.clearfix-80{
    clear: both;
    height: 80px;
}
.clearfix-60{
    clear: both;
    height: 60px;
}
.clearfix-55{
    clear: both;
    height: 55px;
}
.clearfix-50{
    clear: both;
    height: 50px;
}
.clearfix-45{
    clear: both;
    height: 45px;
}
.clearfix-40{
    clear: both;
    height: 40px;
}
.clearfix-35{
    clear: both;
    height: 35px;
}
.clearfix-30{
    clear: both;
    height: 30px;
}
.clearfix-32{
    clear: both;
    height: 32px;
}
.clearfix-25{
    clear: both;
    height: 25px;
}
.clearfix-20{
    clear: both;
    height: 20px;
}
.clearfix-15{
    clear: both;
    height: 15px;
}
.clearfix-12{
    clear: both;
    height: 12px;
}
.clearfix-10{
    clear: both;
    height: 10px;
}
.clearfix-5{
    clear: both;
    height: 5px;
}

body {
    background: #fff;
    font-size: 12px;
    font-family: arial;
    color: #000;
}

del {
    font-size: 12px;
    color: #999;
}
.float-right{
  float: right;
}

/*===========All=============*/
.w_100 {
    width: 100%;
}

.w_40 {
    width: 40%;
}

.w_60 {
    width: 60%;
}
.box_message_news {
    border: 1px solid #e8e8e8;
    padding: 20px;
    min-height: 280px;
    max-height: 280px;
    background-color: #fff;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
}
/*.list-news li{
  background: url(../img/icon.png) top 10px left 5px no-repeat;
  padding-left: 38px;
  margin-bottom: 20px;
  line-height: 2
}*/
.list-news li h3 a {
  display: block;
  font-size: 14px;
  font-family: 'Roboto-Bold';
  color: #333;
  margin-bottom: 5px;
}

.list-news li  {
  padding:-5px 0 1px;
  background-image: url(../img/line.png);
  background-repeat: repeat-x;
   background-position: bottom;
  }

 
.list-news li a{
  font-size: 14px;
}
.list-news li i{
  padding-right:5px;
}
.list-news li p{
  padding-top: 2px;
  color: #333;
  font-family: 'Roboto-Regular';
  font-size: 12px;
  line-height: 18px;
}

.title_message_news{
  font-size: 18px;
  padding: 12px;
  text-transform: uppercase;
  font-family: 'Roboto-Bold';
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.tt_dh{
  margin:5px;
  -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.tt_dh:hover{
   box-shadow: 0 10px 10px -8px rgba(0, 0, 0, 0.5);
   -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    -ms-transition: all 0.3s linear;
    transition: all 0.3s linear;

}
.tt_dh a{
  display: inline-block;
  font-size: 15px;
  border: 1px solid;
  text-transform: uppercase;
  width: 100%;
  color: #fff;
  padding: 20px 10px;
}
.tt_dh a:hover{
  color:#fff;
}

.thongke_sub .thongke_bottom span{
  float: right;
  font-size: 20px;
  color: #fff;
  display: inline-block;
  margin:20px 5px 0 0;
}
.thongke_sub .thongke_bottom b {
  font-size: 41px;
  display: inline-block;
  margin-left: 5px;
}
.thongke_sub .thongke_bottom .fa {
  margin-left: 5px;
  font-size: 30px;

}
.thongke_sub {
    font-size: 13px;
  /*  border: 1px solid #fe000d;*/
    line-height: 1.8;
    padding: 5px;
    /*margin: 15px 0px;*/
    color: #fff;
    border-radius: 5px;
    /*padding: 30px 15px;*/
    background: url(../img/bgfix2.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
    margin-bottom: 15px;
}
.color_blue .fa-sort-up {
  color: #00a651;
}
.color_black .fa-sort-down {
  color: #333;
}
.thongke_sub h3 {
  font-size: 19px;
  font-family: 'Roboto-Bold';
  padding:15px 0;
  background-image: url(../img/line.png);
  background-repeat:repeat-x;
  background-position: bottom;
}
.thongke_sub h3 img {
  margin-right: 10px;
}
.thongke_sub p a{
  color: #fff;
}
.thongke_sub > p{
  font-size: 16px;
  text-align: center;
  text-transform: uppercase;
  /*border-bottom:1px solid ;*/
  display: flex;
  /* justify-items: center; */
  justify-content: center;
  align-items: center;
  height: 56px;
}
.thongke{
  overflow: hidden;
  padding: 12px;
  padding-right: 15px;
}
.box_1{
  background: #fff212;
  color: #000;
}

.box_1 > p{
  border-bottom:1px solid #fe000d;
}

.box_2{
  background: #92d050;
}
.box_3{
  background: #fe000d;
}
.box_4{
  background: #ffc000;
}
.box_5{
  background: #0070c0;
}
.group_1{
  background: #00b0f0;
}
.group_2{
  background: #4472c4;
}
.group_3{
  background:#fe000d;
}
.group_4{
  background: #ff6600;
}

@font-face {
    font-family: 'UTM_HelvetIns';
    src: url('../fonts/UTMHelvetIns.eot');
    src: url('../fonts/UTMHelvetIns.eot') format('embedded-opentype'), url('../fonts/UTMHelvetIns.woff')
    format('woff2'), url('../fonts/UTMHelvetIns.woff') format('woff'), url('../fonts/UTMHelvetIns.ttf')
    format('truetype'), url('../fonts/UTMHelvetIns.svg#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'UTM_AvoBold';
    src: url('../fonts/UTMAvoBold.eot');
    src: url('../fonts/UTMAvoBold.eot') format('embedded-opentype'), url('../fonts/UTMAvoBold.woff')
    format('woff2'), url('../fonts/UTMAvoBold.woff') format('woff'), url('../fonts/UTMAvoBold.ttf')
    format('truetype'), url('../fonts/UTMAvoBold.svg#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Extrabold';
  src: url('../fonts/OpenSans-Extrabold.eot?#iefix') format('embedded-opentype'),  url('../fonts/OpenSans-Extrabold.woff') format('woff'), url('../fonts/OpenSans-Extrabold.ttf')  format('truetype'), url('../fonts/OpenSans-Extrabold.svg#OpenSans-Extrabold') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Regular.woff') format('woff'), url('../fonts/Roboto-Regular.ttf')  format('truetype'), url('../fonts/Roboto-Regular.svg#Roboto-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans';
  src: url('../fonts/OpenSans.eot?#iefix') format('embedded-opentype'),  url('../fonts/OpenSans.woff') format('woff'), url('../fonts/OpenSans.ttf')  format('truetype'), url('../fonts/../fonts/OpenSans.svg#OpenSans') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('../fonts/Roboto-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/Roboto-Bold.woff') format('woff'), url('../fonts/Roboto-Bold.ttf')  format('truetype'), url('../fonts/Roboto-Bold.svg#Roboto-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

.text_h{
    font-family: OpenSans-Extrabold;
    font-size: 36px;
    margin: 0px;
    padding: 0px;
}
.text_t{
font-family: OpenSans;
    font-size: 27px;
    margin: 0px;
    padding: 0px;
    letter-spacing: 4px;
}
p {
    margin: 0px;
}

a {
    text-decoration: none;
    color: #333333;
}

a:hover,
a:focus {
    color: #0d7cd6;
    text-decoration: none;
}

* {
    margin: 0px;
    padding: 0px;
}

ul, ol {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

.fixed {
    position: fixed !important;
    top: 0px;
    z-index: 99;
    width: 100%;
}
.clearfix-130{
    clear: both;
    height: 130px;
}
.clearfix-100{
    clear: both;
    height: 100px;
}
.clearfix-80{
    clear: both;
    height: 80px;
}
.clearfix-62{
    clear: both;
    height: 62px;
}
.clearfix-60{
    clear: both;
    height: 60px;
}
.clearfix-55{
    clear: both;
    height: 55px;
}
.clearfix-50{
    clear: both;
    height: 50px;
}
.clearfix-45{
    clear: both;
    height: 45px;
}
.clearfix-40{
    clear: both;
    height: 40px;
}
.clearfix-35{
    clear: both;
    height: 35px;
}
.clearfix-30{
    clear: both;
    height: 30px;
}
.clearfix-32{
    clear: both;
    height: 32px;
}
.clearfix-25{
    clear: both;
    height: 25px;
}
.clearfix-20{
    clear: both;
    height: 20px;
}
.clearfix-15{
    clear: both;
    height: 15px;
}
.clearfix-12{
    clear: both;
    height: 12px;
}
.clearfix-10{
    clear: both;
    height: 10px;
}
.clearfix-5{
    clear: both;
    height: 5px;
}

body {
    background: #fff;
    font-size: 12px;
    font-family: arial;
    color: #000;
}

del {
    font-size: 12px;
    color: #999;
}

/*===========All=============*/
.w_100 {
    width: 100%;
}

.w_40 {
    width: 40%;
}

.w_60 {
    width: 60%;
}

/*==========Main============*/
.menu_mb{
    position: fixed;
    width: 100%;
    background: rgba(255, 255, 255, 0.3);
    z-index: 999;
    padding: 1px 15px;
    border-bottom: 1px solid rgba(204, 204, 204, 0.3);
}
#go_top {
    position: fixed;
    width: 24px;
    height: 25px;
    background: #000;
    color: #fff;
    text-align: center;
    line-height: 25px;
    font-size: 18px;
    font-weight: bold;
    background-size: 100% 100%;
    display: inline-block;
    z-index: 100;
    bottom: 25px;
    right: 25px;
}
.img_logo_mb{
    max-height: 60px;
    max-width: 70%
}
.menu_main .nav.is-fixed{
    position: relative;
    z-index: 105;
}

/*======================================================================================================================*/
.qts_header_top {
    background: url(../img/bg_nd.png);
    background-repeat: no-repeat;
    background-position: center;
    object-fit: cover;
}
.hotline_hd{
    float: left;
    background: url("../img/logo.png") no-repeat top left;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    padding-left: 140px;
    padding-bottom: 15px;
    margin-top: 5px;
}
.hotline_hd span{
    color: #ff0000;
}
.slogan_hd{
    float: right;
    margin-top: 35px;
    font-family: UTM_AvoBold;
    color: #4b7e1f;
    font-size: 24px;
    text-transform: uppercase;
    text-shadow: 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff, 0px 0px 3px #fff;
}
.qts_head_mid.sticky-header{
    background: #ffffff;
}
.qts_head_mid.sticky-header.fixed{
    box-shadow: 0px 0px 6px #333;
}
.sb-search{
    float: right;
    position: relative;
    margin: 10px 0px;
}
.sb-search:before{
    content: "";
    display: inline-block;
    width: 1px;
    height: 19px;
    background: #333333;
    position: absolute;
    left: 0px;
    top: 14px;
}
.nav-container ul li a:last-child{

}
.menu_top{
      display: flex;
    align-items: center;}
 .menu_main .menu_top .menu-item{
    padding-right: 40px;
 }
 .hotline_hd {
    margin-top: 21px;}

    .menu_main {
    float: right;
    margin-top: 21px;
}
li.menu-item{
    position: relative;

}
img.img_a {
    position: absolute;
    width: 17px;
    height: 17px;
    right: 33px;
    top: -3px;
}

.back_link li{
  list-style: none;
  float:left;
  padding: 0px 15px;
  margin: 15px 0px 25px 0px;
  position: relative;
}
.back_link li:first-child{
  padding-left: 0px;
}
.back_link li::after{
  font-family:FontAwesome;
  position: absolute;
  content: "\f105";
  font-size: 14px;
  top: 0px;
  right: -2px;
}
.back_link li:last-child::after{
  display: none;
}
.back_link li a i{
  font-size: 20px;
}
.back_link li a{
  font-size: 16px;
  color: #000;
}
.slider_main .item{
    font-size: 17px;
    padding: 15px;
}
.btn_down button {
    padding: 10px 30px;
    margin-right: 15px;
    color: #fff;
    font-size: 15px;
}
.btn_1{
  background: #58a0cb
}
.btn_2{
  background: #00c96c
}
.btn_3{
  background: #1ccffb
}
/*.box_6{
  background: #ed7d33;
}*/
/*.box_7{
  background: #5ab152;
}*/
.box_8{
  background: #f7c033;
}
/* dịch vụ công -----> */
.dv-cong h3{
  background-color: #d9534f;
  border-color: #d9534f;
  color: #fff;
  font-size: 16px;
  padding: 20px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-transform: uppercase;
}
.dv-cong{
  border-radius: 5px;
}
.dv-cong li a{
    display: block;
}
.dv-cong>li{
  float: none;
}
.dv-cong>li>a{
  border-radius: 0px;
  font-size: 14px;
}
.dv-cong>li.active>a, .dv-cong>li.active>a:hover, .dv-cong>li.active>a:focus{
  color: #fff;
  background-color: #fe000d;
}
.dv-cong>li>a:hover, .dv-cong>li>a:focus {
    text-decoration: none;
    background-color:#d83a3a;
    color: #fff;
}
.dv-cong>li+li{
  margin-left: 0px;
}
.content_dv_cong{
  padding: 15px;
  border:1px solid #d9534f;
}
.dv-cong>li>a{
  display: block;
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  background-color: #d83a3a;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px;
  cursor: pointer;
  min-height: 108px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title_dv_cong{
  background-color: #d9534f;
  border-color: #d9534f;
  color: #fff;
  font-size: 16px;
  padding: 20px 15px;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.txt_line {
    float: left;
    color: #9d8923;
    font-weight: bold;
}
.bg_line{
  border-bottom: 1px solid #bfb47e;
}
.line_text{
  text-align: center;
  font-style: italic;
  color:#b05510;
  font-size: 14px;
}
.box_fix_dv_c{
  max-width: 550px;
  margin: auto;
}
.btn_dv_cong{
  font-size: 14px;
  color: #fff;
  background:red;
}
.btn_dv_cong:hover{
  color: #fff;
}
.content_dv_cong b{
    font-size:16px;
}
.content_dv_cong p{
  line-height: 23px;
  font-size:14px;
}
.thongke_sub p a img{
  width: 100%;
  max-width: 50px;
  height: 43px;
  display: block;
  margin:auto;
}
.thongke_sub > p {
    font-size: 15px;
    text-align: center;
    text-transform: uppercase;
    /*border-bottom: 1px solid;*/
    display: flex;
    /* justify-items: center; */
    justify-content: center;
    align-items: center;
    height: 56px;
}
.thongke_sub p a i{
      display: block;
    font-size: 35px;
    margin-bottom: 10px;
}
.year_big {
    font-size: 24px;
    height: 50px;
    justify-content: center;
    display: flex;
    text-align: center;
    border-bottom: 1px solid #fff;
}



*--------------------------------------------------- phaly-----------------------------------------------*/


@media (min-width:1200px) /* lg*/ {
    .container_fix {
        padding: 0px 75px;
    }
    .row_0 {
        margin:0;
    }
    .pdd_0 {
        padding: 0;
    }
}

.y_kien_nguoidan .bt_y_kien_nguoidan a {
    display: block;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    background-color: #d83a3a;
        font-weight: bold;
    text-transform: uppercase;
    padding: 20px;
    cursor: pointer;
        min-height: 108px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.y_kien_nguoidan .content_y_kien_nguoidan ul li {
    font-size: 14px;
    color: #333;
    line-height: 20px;
    margin-bottom: 10px
}
.y_kien_nguoidan .content_y_kien_nguoidan {
    border:1px solid #ccc;
    padding: 15px;
    overflow: auto;
    max-height: 182px;
    min-height: 182px;
}
.phanhoi_traloi .bt_phanhoi_traloi a {
    display: block;
    font-size: 24px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    background-color: #d83a3a;
        font-weight: bold;
    text-transform: uppercase;
    padding: 20px;
    cursor: pointer;
        min-height: 108px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phanhoi_traloi .content_phanhoi_traloi  {
    font-size: 14px;

}
.list_bt_phaply .btn {
    padding: 20px;
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold
}
.content_phanhoi_traloi .tit_content a {
    display: block;
    font-size: 20px;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 20px;
    background: #d83a3a;
    text-align: center;
    font-weight: bold;
    border: 1px solid #fff;
    margin-right: -1px;
}
.content_phanhoi_traloi .sub_content {
    font-size: 14px;
    padding: 10px;
    border: 1px solid #ccc;
    max-height: 200px;
    min-height: 200px;
    overflow: auto;
    margin-right: -1px;
}
.pdd_0{
  padding: 0px;
}
/*--------------------------------end phaply--------------*/

.title-kc{
  background: #840101;
  color: #fff;
  text-align: center;
}
.title_info {
    color: #fff;
    text-align: center;
    background: -webkit-linear-gradient(0deg, #053785 40%, #006CB6 100%);
    border: none;
}
.body-home{
  background: url(../img/bg-body.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #e8e8e8;
}
.title-tt{
      text-align: center;
    color: #fff;

    background: -webkit-linear-gradient(0deg, #053785 40%, #006CB6 100%);
    border:none;
}
.title_message_news img {
    margin-right: 10px;
}
.item-tt {
    background: #fff;
    padding: 15px 0px;
}
.message_news  {
  background: #fff;
  padding: 1px;
  box-shadow: 0 0 5px #333;
}
.list-news-right h3{
font-size: 13px;
font-family: 'Roboto-Bold';
color: #333;
line-height: 18px;
}
.list-news-right p {
  font-family: 'Roboto-Regular';
  font-size: 13px;
  color: #333;
  line-height: 18px;
}
.list_report {
    float: left;
    width: 100%;
    padding-left: 30px;
}
.list_report li {
    list-style: none;
    float: left;
    margin-right: 5px;
    /* margin-bottom: 15px; */
}
.list_report p {
    font-size: 14px;
    font-family: OpenSans;
    padding-top: 5px;
    margin-right: 5px;
}
.list_report li:nth-child(2) {
    max-width: 280px;
}
.list_report .btn {
    font-family: OpenSans;
    color: #fff;
}
.list_six_lv a {
    display: block;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
.btn_excel {
    background: #71adc1;
}
.btn_w {
    background: #71c3d1;
}
.btn_pdf {
    background: #e77487;
}
.modal-dialog{
  width: 1100px;
}
.modal-body .card{
  padding: 5px 25px 20px;
   margin: inherit;
   margin-top: inherit; 
} 
.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    /*padding-left: 1.5rem;*/
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    margin-right: 5px;
    margin-top: 2px;
}
.custom-control-label {
    position: relative;
    margin-bottom: 0;
}
.custom-radio .custom-control-label::before {
    border-radius: 50%;
}
.custom-control-label::after {
    position: absolute;
    top: .25rem;
    left: -1.5rem;
    display: block;
    width: 1rem;
    height: 1rem;
/*    content: "";*/
  /*  background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;*/
}
.custom-control-input {
       float: left;
    margin-right: 10px;
    z-index: -1;
   /* opacity: 0;*/
}
.title_h {
  margin-bottom: 20px;
}
.loai {
  font-size: 14px;
  margin-bottom: 10px;
}
.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(2.25rem + 2px);
    margin: 0;
    opacity: 0;
}
.custom-control-label::before, .custom-file-label, .custom-select {
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.custom-file-label {
     position: absolute;
    /* top: 0; */
    right: 15px;
    left: 15px;
    bottom: 35px;
    z-index: 1;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
}
.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: 2.25rem;
    padding: .375rem .75rem;
    line-height: 1.5;
    color: #495057;
    content: "Browse";
    background-color: #e9ecef;
    border-left: 1px solid #ced4da;
    border-radius: 0 .25rem .25rem 0;
}